body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: blueviolet;
}
footer{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}