<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.integration.DepartmentMapper">
	<select id="getAllDepartments" resultType="Department">
		SELECT deptno as id, dname as name, loc as location FROM dept
	</select>
	
	<select id="getAllDepartmentsByDeptNo" resultType="Department">
		SELECT deptno as id, dname as name, loc as location FROM dept WHERE deptno = #{id}
	</select>
	
	<resultMap id="Employees" type="Employee">
		<id property="id" column="empno"/>
		<result property="name" column="ename"/>
		<result property="job" column="job"/>
		<result property="manager" column="mgr"/>
		<result property="hireDate" column="hiredate"/>
		<result property="salary" column="sal"/>
		<result property="commission" column="comm"/>
		<result property="deptId" column="deptno"/>
	</resultMap>
	<resultMap id="EmployeesByDepartment" type="Department">
		<id property="id" column="deptno"/>
		<result property="name" column="dname"/>
		<result property="location" column="loc"/>
		<collection property="employees" resultMap="Employees"></collection>
	</resultMap>
	<select id="getAllEmployeesByDept" resultMap="EmployeesByDepartment">
		SELECT d.deptno, d.dname, d.loc, e.empno, e.ename, e.job, e.mgr, e.hiredate, e.sal, e.comm 
		FROM DEPT d JOIN emp e ON d.deptno = e.deptno
	</select>
</mapper>