<h1>{{title}}</h1>
<p>The following endpoints are supported:</p>

<table>
    <tr>
        <td>
            <a href="/contacts">/contacts</a>
        </td>
        <td>
            List all contact names
        </td>
    </tr>
        <tr>
        <td>
            <a href="/contacts?firstName=Joe">/contacts?firstName=...</a>
        </td>
        <td>
            Get a single contact
        </td>
    </tr>
    <tr>
        <td>
            <a href="/groups">/groups</a>
        </td>
        <td>
            List all group names
        </td>
    </tr>
    <tr>
        <td>
            <a href="/groups/Dev">/groups/...</a>
        </td>
        <td>
            List all members of group
        </td>
    </tr>
</table>
