<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.integration.mapper.WarehouseMapper">


	<select id="getAllWidgets" resultType="com.fidelity.business.Widget">
		SELECT id, description, price, gears, sprockets
		from widgets
		order by id
	</select>

	<select id="getAllGadgets" resultType="com.fidelity.business.Gadget">
		SELECT id, description, price, cylinders
		from gadgets
		order by id
	</select>

	<insert id="insertWidget" parameterType="com.fidelity.business.Widget">
		insert into widgets
		(id, description, price, gears, sprockets)
		values
		(#{id}, #{description}, #{price}, #{gears}, #{sprockets})
	</insert>

	<insert id="insertGadget" parameterType="com.fidelity.business.Gadget">
		insert into gadgets
		(id, description, price, cylinders)
		values
		(#{id}, #{description}, #{price}, #{cylinders})
	</insert>

</mapper>