table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

#cars tr:nth-child(odd) {
    background-color: rgb(202, 202, 202);
}

#cars tr:hover {background-color: #ddd;}

h1 {
    color: black;
}

#cars th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

button {
    background-color: rgb(202, 202, 202);
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: #04AA6D;
}
nav{ 
    margin: 10px;
    margin-left: 0;
}